body {
 font-family: "Roboto Slab", serif;
 background-color: #0a1323;
 color: #fff;
}
.card {
 max-width: 555px;
 margin: 66px auto 0;
 border-radius: 8px;
 overflow: hidden;
 background-color: rgb(29 41 58);
 box-shadow: 0 1px 3px rgba(17, 24, 39, 0.09);
}
.card-img {
 width: 100%;
}
.card-details {
 padding: 24px;
 margin-bottom: 16px;
}
.subheading {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.subheading-text {
 background-color: rgb(220 38 38 / 10%);
 color: #dc2626;
 display: block;
 padding: 6px 12px;
 border-radius: 88px;
}
.fav-btn {
 background-color: transparent;
 color: rgb(172 149 254);
 border: none;
 cursor: pointer;
 font-size: 24px;
 transition: color 0.3s;
}
.fav-btn:hover {
 color: rgb(189, 170, 254);
}
.heading a {
 text-decoration: none;
 color: #fff;
 transition: color 0.3s;
}
.heading a:hover {
 color: #754ffe;
}
.teacher {
 color: #64748b;
 margin-bottom: 32px;
}
.rating {
 display: flex;
 align-items: center;
 gap: 16px;
}
.rating-text,
.rating-star {
 color: #f59e0b;
 margin: 0;
}
.rating-text {
 font-size: 20px;
}
.rating-text sup {
 color: #64748b;
 margin-left: 8px;
}
.enrolling {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 32px 24px;
 border-top: 1px solid rgb(0, 0, 0, 0.2);
}
.enrolling p {
 margin: 0;
}
.price {
 font-size: 22px;
}
.enrolled-text {
 text-decoration: none;
 color: #fff;
 transition: color 0.3s;
 font-size: 20px;
}
.enrolled-text:hover {
 color: #754ffe;
}
.enrolled-icon {
 color: #754ffe;
 margin-right: 8px;
}
